<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/telaLogin.css' %}" />
    <title>Document</title>
  </head>

  <body>
    <header></header>

    <main>
      <form method="post">
        {% csrf_token %}
        <div class="telaLogin">
          <div class="nameTLR">
            <h1>LOGIN</h1>
          </div>

          <div class="emailRL">
            <i class="fa-sharp fa-solid fa-id-card"></i>
            {{ form.username }}
          </div>

          <div class="passLogin">
            <i class="fa-solid fa-key"></i>
            {{ form.password }}
          </div>

          <div class="btnChcLogin">

            <div class="btn">
              <button class="botaoLR" type="submit">Login</button>
            </div>

            <div class="btn">
             <a href="{% url 'registro' %}"> <button class="botaoLR" type="button">Register</button> </a>
            </div>
          </div>

        </div>
      </form>
    </main>

    <script
      src="https://kit.fontawesome.com/1e09d9b871.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
