<div class="infosDivs">
  <div class="nome">
    <h2><p>ÚLTIMAS ENTRADAS</p></h2>
  </div>

  <div class="produtos">
    {% for entr in entrada|slice:"4" %}
    <div class="brdProdutos">
      <div class="top">
        <div>
          <h3>RESPONSÁVEL</h3>
          <h6>{{entr.nome}}</h6>
        </div>
        <div></div>
        <div></div>
        <div>

        </div>
      </div>

      <div class="mid">
        <div>
          <h3>PRODUTO</h3>
          <h5>{{entr.produto}}</h5>
        </div>
      </div>

      <div class="bottom">
        <div>
          <h3>QUANTIDADE</h3>
          <h5>{{entr.quantidadeent}}</h5>
        </div>
        <div>
          <h3>DATA DE RETIRADA</h3>
          <h5>{{entr.data}}</h5>
        </div>
      </div>
    </div>
    {% empty %} {% endfor %}
  </div>
  <!--FECHAMENTO DIV ULTIMAS RETIRADAS-->
</div>