@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Silkscreen&display=swap");

:root {
  --cinzabg: rgba(245, 245, 245, 0.9);
  --pretotxt: rgb(17, 17, 17);
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-size: auto;
  background-image: linear-gradient(to right, rgb(15, 0, 15), rgb(7, 7, 22));
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.telaCad {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  width: 420px;
  height: 500px;
  background-color: var(--cinzabg);
}

.telaCad button{
    margin-top: 25px;
}

.nameTLR {
  font-family: "Oswald", sans-serif;
  margin-bottom: 18px;
}

.alinhamento{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: right;
}

.alinhamento p{
    margin: 2px 0px 2px 0px;
}

.alinhamento h4{
    font-family: "Oswald", sans-serif;
}

.btnVoltar{
  border: 1px;
  border-style: solid;
  background-color: rgb(110, 110, 110);
  width: 20px;
  height: 20px;
}

.btnVoltar p{
  font-style: none;
  color: black;
}

.btns{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}