*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.itensCenter{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    height: 100vh;
}

a .linkDivs{
    width: 250px;
    height: 250px;
}

.prod{
    width: 25vw;
    height: 300px;
    border-radius: 25px;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.prod h5{

    margin-top: 5px;

}