*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal
{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.infosCima{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fornecedoresCadCSS{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fornecedoresCadCSS a:hover {
    color: brown;
    text-decoration: underline;
}

.fornecedoresCadCSS a{
    text-decoration: none;
    color: rgb(38, 38, 38);
    justify-content: center;
    align-items: center;
    display: flex;
}

.imgEsp{
  
    display: flex;
}

.fornecedoresCadCSS a h4{
    margin-left: 5px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
    margin-top: 100px;
}

tbody td{
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.3);
}