*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.itensCenter{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

a .linkDivs{
    width: 300px;
    height: 300px;
}

.prod{
    width: 300px;
    height: 300px;
    background-color: rgb(7, 34, 36);
    border-radius: 25px;
    margin: 40px;
}