@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

:root{
    --azul: rgba(15, 0, 100, 0.822);
    --azulclaro: rgba(26, 4, 150, 0.637);
    --cinza:  rgb(206, 206, 206);
}

.usuario{
    width: 84vw;
    height: 80vh;
    background-color: var(--azul);
    margin-left: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 3px 3px #888888;
}

.tableup{

    background-color: var(--cinza);
    border-radius: 20px 20px 0 0;
    border: 4px solid;
    border-color: var(--azul);
    width: 84vw;
    height: 5vh;
    flex-direction: row;

}

.usuario tbody{

    border-color: var(--azul);
    width: 84vw;
    height: 5vh;
    flex-direction: row;
    color: var(--cinza);

}

.tableup tr{

    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    align-items: center;
    font-family: 'Oswald', sans-serif;

}

.usuario th{

    width: 20%;

}

.trbody{

    display: flex;
    width: 100vw;
    height: 100%;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    justify-content: space-around;

}

.trbody tr{

    width: 100%;

}

.trbody td{

    width: 20%;

}