<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static '/css/estiloFornecedorLists.css'%}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="principal">
      {% include "base/navbar.html "%}

      <div class="conteudo">
        <div class="infosCima">
          <div>
            <h1>FORNECEDORES</h1>
          </div>
          <div class="fornecedoresCadCSS">
            <a class="imgCadF" href="{% url 'cad_fornecedor' %}">
              <h4> <img
                src="/static/img/adicionarFornecedorIcon.png"
                alt=""
                width="20px"
                height="20px"
              /> CADASTRAR FORNECEDOR</h4>
            </a>
          </div>
        </div>
        {% for fornec in list_fornecedor %}
        <div class="perfilF">
          
                  <div class="pforne">
                    <div>              <img
                      src="/media/{{fornec.fotoFornecedor}}"
                      alt=""
                      width="100px"
                      height="100px"
                      
                    /></div>
                    <div class="pforneInfo">
                      <div><h5>NOME:{{fornec.nome|upper}}</h5></div>
                  <div><h5>CNPJ: {{fornec.cnpj}}</h5></div>
                  <div><h5>TELEFONE:{{fornec.telefone}}</h5></div>
                  <div><h5>E-MAIL:{{fornec.emailFornecedor}}</h5></div>
                  <div><h5>CEP: {{fornec.codigoPostal}}</h5></div>
                    </div>
  
                    <div class="iconsF">
                      <a href="{% url 'edit_fornecedor' fornec.id %}">
                        <i class="fa-solid fa-pen-to-square"></i> EDITAR
                      </a>
                      <a href="{% url 'fornecedor_remover' fornec.id %}">
                        <i class="fa-solid fa-xmark"></i> EXCLUIR
                      </a>
                    </div>
                
                  </div>
                  {% empty %}
                SEM FORNECEDORES CADASTRADOS
                {% endfor %}
        </div>
      </div>
    </div>
  </body>

  <script
    src="https://kit.fontawesome.com/1e09d9b871.js"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"
  ></script>
  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>
</html>
