<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/cadFornecedor.css' %}" />
    <title>Document</title>
  </head>

  <body>
    <header></header>

    <main>
      <form method="post" enctype="multipart/form-data">
        <div class="telaCad">
          <div class="nameTLR">
            <h1>CADASTRAR FORNECEDOR</h1>
          </div>
          {% csrf_token %}
          <div class="alinhamento">
            <h4>NOME:</h4>
            <p>{{form.nome}}</p>

            <h4>CNPJ:</h4>
            <p>{{form.cnpj}}</p>

            <h4>TELEFONE:</h4>
            <p>{{form.telefone}}</p>

            <h4>E-MAIL:</h4>
            <p>{{form.emailFornecedor}}</p>

            <h4>CEP:</h4>
            <p>{{form.codigoPostal}}</p>

            <h4>LOGOMARCA:</h4>
            <p>{{form.fotoFornecedor}}</p>
          </div>
          <button type="submit"><h4>CADASTRAR</h4></button>
          <a href="{% url 'list_fornecedor' %}"><div class="btnVoltar">VOLTAR</div></a>
        </div>
      </form>
    </main>

    <script
      src="https://kit.fontawesome.com/1e09d9b871.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
