<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/estiloUm.css' %}"
    />
    <title>SGCE</title>
  </head>

  <body>
    <div class="principal">

      {% include "base/navbar.html "%}

      <div class="containerPrincipal">
        <div class="informacoes">
          <a href="{% url 'list_produto' %}">
            <div class="navdiv">
              <img
                src="{% static 'img/produtosIMGicon.png' %}"
                alt=""
                srcset=""
                class="imgnavbar"
              />
            </div>
          </a>

          <a href="{% url 'list_fornecedor' %}">
            <div class="navdiv">
              <img
                src="{% static 'img/fornecedoresIMGicon.png' %}"
                alt=""
                srcset=""
                class="imgnavbar"
              />
            </div>
          </a>

          <a href="{% url 'list_tipoProduto' %}">
            <div class="navdiv">
              <img
                src="{% static 'img/tipodeprodutoIMGicon.png' %}"
                alt=""
                srcset=""
                class="imgnavbar"
              />
            </div>
          </a>

          <a href="{% url 'entok' %}">
            <div class="navdiv">
              <img
                src="{% static 'img/entradasRealizadas.png' %}"
                alt=""
                srcset=""
                class="imgnavbar"
              />
            </div>
          </a>

          <a href="{% url 'rtrok' %}">
            <div class="navdiv">
              <img
                src="{% static 'img/retiradasRealizada.png' %}"
                alt=""
                srcset=""
                class="imgnavbar"
              />
            </div>
          </a>

          <a href="{% url 'perfil' %}">
            <div class="navdiv">
              <img
                src="{% static 'img/perfilIcon.png' %}"
                alt=""
                srcset=""
                class="imgnavbar"
              />
            </div>
          </a>
        </div>
        <!--FECHAMENTO DIV INFORMAÇOES-->

        {% include "conteudo/ultprod.html" %}

        {% include "conteudo/ultfornec.html" %}

        {% include "conteudo/ultent.html" %}

        {% include "conteudo/ultret.html" %}

        <!--FECHAMENTO DIV CONTAINER PRINCIPAL-->
      </div>
      <!--FECHAMENTO DIV PRINCIPAL-->
    </div>
  </body>
  <script
    src="https://kit.fontawesome.com/1e09d9b871.js"
    crossorigin="anonymous"
  ></script>
</html>
