<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static '/css/estiloFornecedorLists.css'%}" />
  <title>SGCE</title>
</head>

<body>
  <div class="principal">
    {% include "base/navbar.html "%}

    <div class="conteudo">
      {% for message in messages %} {% if message.tags == 'error' %}
      <div class="alert alert-danger" role="alert">
        <strong>!</strong>{{ message | upper }}
      </div>
      {% endif %} {% if message.tags == 'info' %}
      <div class="alert alert-warning" role="alert">
        <strong>!</strong>{{ message | upper }}
      </div>
      {% endif %} {% if message.tags == 'success' %}
      <div class="alert alert-success" role="alert">
        <strong>!</strong>{{ message | upper }}
      </div>
      {% endif %} {% endfor %}
      <div class="infosCima">
        <div>
          <h1>PRODUTOS</h1>
        </div>
        <div class="fornecedoresCadCSS">
          <a href="{% url 'cad_produto' %}">
            <h4> <img src="/static/img/adicionarFornecedorIcon.png" alt="" width="20px" height="20px" />CADASTRAR
              PRODUTO</h4>
          </a>
        </div>
      </div>
      {% for prod in list_produto %}
      <div class="perfilF">

        <div class="pforne">
          <div>
            
          </div>
          <div class="pforneInfo">

            <div>
              <h5>EQUIPAMENTO: {{prod.equipamento | upper}}</h5>
            </div>
            <div>
              <h5>MODELO:{{prod.modelo | upper}}</h5>
            </div>
            <div>
              <h5>QUANTIDADE:
                {%if prod.quantidade == 0 %}
                Sem estoque
                {% else %}
                {{prod.quantidade}}
                {% endif %}

              </h5>
            </div>
            <div>
              <h5>FORNECEDOR: {{prod.fornecedor | upper}}</h5>
            </div>
          </div>

          <div class="iconsF">
            <a href="{% url 'edit_produto' prod.id %}"> EDITAR
              <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a href="{% url 'del_produto' prod.id %}"> EXCLUIR
              <i class="fa-solid fa-xmark"></i>
            </a>

            <a href="{% url 'entradas' prod.id %}">INSERIR<i class="fa-solid fa-turn-down"></i></a>

            {% if prod.quantidade == 0 %}
            {% else %}
            <a href="{% url 'retiradas' prod.id %}">RETIRAR<i class="fa-solid fa-turn-up"></i></a>
            {% endif %}
          </div>

        </div>
        {% empty %}
        SEM PRODUTOS CADASTRADOS
        {% endfor %}
      </div>
    </div>
  </div>
</body>

<script src="https://kit.fontawesome.com/1e09d9b871.js" crossorigin="anonymous"></script>


</html>