<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/registro.css' %}">
    <title>SGCE</title>
</head>

<body>
        <div class="principal">
            <div>
                <h1>REGISTRO DE USUÁRIO</h1>
            </div>
        <div>
            <form method="post">
                {% csrf_token %}
                <div><h3>NOME:</h3></div>
                <div>{{form.username}}</div>
                <div><h3>SOBRENOME:</h3></div>
                <div>{{form.nome}}</div>
                <div><h3>E-MAIL:</h3></div>
                <div>{{form.email}}</div>
                <div><h3>IDADE:</h3></div>
                <div>{{form.idade}}</div>
                <div><h3>CPF:</h3></div>
                <div>{{form.cpf}}</div>
                <div><h3>SENHA:</h3></div>
                <div>{{form.password1}}</div>
                <div><h3>CONFIRME SUA SENHA:</h3></div>
                <div>{{form.password2}}</div>
                <div class="btn"><input type="submit" value="Cadastrar"></div>
            </form>
        </div>
        </div>

</body>

</html>