<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/retiradas.css' %}" />
    
    <title>SGCE</title>
  </head>
  <body>
    <div class="principal">
      {% include "base/navbar.html "%}

      <div class="containerPrincipal">
        <div class="conteudo">
          {% for message in messages %} {% if message.tags == 'error' %}
              <strong>!</strong>{{ message }} {% endif %} {% endfor %}
          <div class="retiradas">
              {% for rtrd in rtrok %}
              <div class="rtrtop"><div><h5>RESPONSÁVEL:</h5> <h3>{{rtrd.nome}}</h3></div> <div><a href="{% url 'rtrdel' rtrd.id %}">EXCLUIR</a></div></div>
              <div><h5>PRODUTO:</h5><h3>{{rtrd.produto}}</h3></div>
              <div><h5>QUANTIDADE:</h5><h3>{{rtrd.quantidaderet}}</h3></div>
              <div><h3>DATA:</h3><h5>{{rtrd.data}}</h5></div>
              
              {% empty %}
              <div class="zerortr">
                <h2>NÃO HOUVE RETIRADAS</h2>
              </div>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
  src="https://kit.fontawesome.com/1e09d9b871.js"
  crossorigin="anonymous"
></script>
</html>
