<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% for message in messages %} 

    {% if message.tags == 'error' %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>!</strong>{{ message }}
    </div>
    {% endif %} 
    
    {% endfor %} 
    
    {% for rtrd in rtrok %}
    <p>{{rtrd.quantidaderet}}</p>
    <p>{{rtrd.nome}}</p>
    <a href="{% url 'rtrdel' rtrd.id %}">EXCLUIR</a>
    {% empty %}
    <p>Não houve retiradas</p>
    {% endfor %}
  </body>
</html>
