<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/produtos.css'%}" />
    <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/estiloUm.css' %}"
  />
    <title>Document</title>
  </head>
  <body>
    <div class="principal">
      {% include "base/navbar.html "%}
      <div class="conteudoProd">
        <div class="infosCima">
          <div>
            <h1>TIPOS DE PRODUTOS</h1>
          </div>
          <div class="produtosCadCSS">
            <a href="{% url 'cad_tipoProduto' %}">
              <img
              class="imgEsp"
                src="/static/img/adicionarFornecedorIcon.png"
                alt=""
                width="20px"
                height="20px"
              />
              <h4>CADASTRAR TIPO DE PRODUTO</h4>
            </a>
          </div>
        </div>
  
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th>NOME</th>
            </tr>
          </thead>
  
          <tbody>
            {% for tpProd in list_tipoProduto %}
            <tr>
              <td>{{tpProd.nome | upper}}</td>
            </tr>
            {% empty %}
            <td>-----------</td>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </body>


  <script
    src="https://kit.fontawesome.com/1e09d9b871.js"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"
  ></script>
</html>
